<h2>{{ product.title }}</h2>

<img src="{{ product.featured_image | img_url:'300x' }}"/>


{% if section.setting.show_reviews %}
<h4> ⭐⭐⭐⭐⭐</h4>
{% endif %}

{% schema %}
  {
    "name": "main test product",
    "settings": [
      {
        "id":"tax_notice",
        "type":"text",
        "label":"tax notice"
      },
      {
        "id":"show_reviews",
        "type":"checkbox",
        "label":"show reviews"
      }
    ]
  }
{% endschema %}